{% layout 'documentation' %}
{% assign pages = page.children_in_list %}


<!-- ========== MAIN CONTENT ========== -->
<turbo-frame id="main-content">
  <div class="flex justify-between p-5 md:p-10 md:pt-10 xl:gap-20">
    <article class="flex flex-col max-w-5xl">
        {% # 面包屑导航 %}
        <div class="text-sm breadcrumbs pt-0 pb-4">
          {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
        </div>

        <section class="prose md:prose-md mb-10 max-w-none">
          <div>
            <h1>{{ page.settings.title }}</h1>
            <div>{{ page.settings.content }}</div>
          </div>

          <div class="divider my-5"></div>
          {% paginate_tag pages, per: 25 %}
            <ul>
              {% for sub_page in pages %}
                <li><a href="{{ sub_page.path }}">{{ sub_page.link_text }}</a></li>
              {% endfor %}
            </ul>
            <!-- Pagination -->
            {% render 'paginate', paginate: paginate %}
          {% endpaginate_tag %}
        </section>
    </article>
    {% # 栏目页右边栏，可选 %}
    <div class="hidden w-64 xl:sticky xl:block xl:top-28">
      <!-- Features One -->
      {% if site.settings.features_one %}
        {{ site.settings.features_one }}
      {% else %}
        <div class="mt-14">
          <h1 class="text-lg font-bold"> 自定义功能版块 </h1>
          <p>在'应用设置'-->'界面展示'-->'自定义 HTML 代码块'-> 'Features One' 添加相应内容。</p>
          <a class="card w-44 mt-4 bg-base-200" href="/" target="_blank">
            <figure class="bg-gradient-to-t from-transparent to-base-300 py-1">
              <svg
                class="h-20 w-20 py-4"
                viewBox="0 0 415 415"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="82.5" y="290" width="250" height="125" rx="62.5" fill="#1AD1A5"
                ></rect>
                <circle cx="207.5" cy="135" r="130" fill="black" fill-opacity=".3"
                ></circle>
                <circle cx="207.5" cy="135" r="125" fill="white"></circle>
                <circle cx="207.5" cy="135" r="56" fill="#FF9903"></circle>
              </svg>
            </figure>
            <div class="card-body px-3 py-5">
              <h2 class="card-title text-sm">Daisy UI</h2>
              <p class="text-xs">The most popular component library for Tailwind CSS</p>
            </div>
          </a>
        </div>
      {% endif %}
      <!--Features One -->
    </div>
  </div>
</turbo-frame>
<!-- ========== END SECONDARY CONTENT ========== -->

{% schema %}
    {
    "name": "Page Channel",
    "description": "The Page as a channel section",
    "thumb_url": "images/theme/page-channel.png",
    "preview_image_urls": [
      "images/theme/page-channel.png"
    ],
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "ratio": "1:1",
        "width": 60,
        "label": "图标"
      },
      {
        "id": "title",
        "type": "text",
        "readonly": true,
        "label": "标题",
        "info": "知识库同步，不可编辑"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label",
        "readonly": true,
        "info": "t:settings_schema.page.settings.content.info"
      }
    ]
    }
{% endschema %}
