{% assign pages = page.pages_in_list %}

{% paginate_tag pages, per: 1 %}
  <div class="max-w-7xl mx-auto min-h-screen bg-white rounded-lg p-5 md:p-10 xl:gap-20">

    {% for page in pages %}
      <!-- ========== MAIN CONTENT ========== -->
      <turbo-frame id="main-content">
        <article class="">
          <h1 class="text-center mb-2 text-2xl font-bold sm:text-3xl xl:text-4xl">
            {{ page.settings.title }}
          </h1>
          <div class="mt-8 flow-root">
            <div class="overflow-auto">
              <div data-controller="view_images2"
                class="ProseMirror prose sm:prose-base lg:prose-md focus:outline-none dark:prose-invert prose-a:text-blue-600">

                {{ page.settings.content }}
                
              </div>
            </div>
          </div>
        </article>
      </turbo-frame>
    {% endfor %}

  </div>
  <!-- ========== END SECONDARY CONTENT ========== -->

  <!-- Footer Section -->
  <div class="btm-nav flex justify-between bg-slate-600 text-white border-t border-teal-100">

    {% if paginate.total_pages > 1 %}
      {% comment %} 上一页 {% endcomment %}
      <a {% if paginate.prev_page %}href="{{ paginate.url_for[paginate.prev_page] }}"{% else %}disabled{% endif %} class="">
        <span class="sr-only">Previous</span>
        <svg class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
        </svg>
        <span class="btm-nav-label text-sm">上一页</span>
      </a>
    {% endif %}

    <div class="dropdown dropdown-top">
      <div tabindex="0" role="button" class="text-center justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 self-auto"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span class="btm-nav-label text-sm">导航</span>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-slate-600 rounded-box z-[1] w-52 p-2 shadow">
        <li><a>Item 1</a></li>
        <li>
          <a href="javascript: window.open('{{ site.url }}/s/ebook?page={{ page.path }}', '_blank').print();">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <span class="btm-nav-label text-sm">下载</span>
          </a>
        </li>
      </ul>
    </div>
    

    {% if paginate.total_pages > 1 %}
      {% comment %} 下一页 {% endcomment %}
      <a {% if paginate.next_page %}href="{{ paginate.url_for[paginate.next_page] }}"{% else %}disabled{% endif %} class="">
        <span class="sr-only">Next</span>
        <svg class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
        <span class="btm-nav-label text-sm">下一页</span>
      </a>
    {% endif %}
  </div>

{% endpaginate_tag %}
<!--/ article-->

{% schema %}
    {
    "name": "Page eBook",
    "description": "The Page as a ebook plan section",
    "thumb_url": "images/theme/page-channel.png",
    "preview_image_urls": [
      "images/theme/page-channel.png"
    ],
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "ratio": "1:1",
        "width": 60,
        "label": "图标"
      },
      {
        "id": "title",
        "type": "text",
        "readonly": true,
        "label": "标题",
        "info": "知识库同步，不可编辑"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label",
        "readonly": true,
        "info": "t:settings_schema.page.settings.content.info"
      }
    ]
    }
{% endschema %}